# Output binaries
why
why.exe
tests/test_why_core
tests/test_why_core.exe
tests/e2e/why-linux-amd64

# Nimble files
nimble.develop
config.nims
nimble.paths
nimbledeps

# LLM utilities
repomix-output.xml
